<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ym.lib1">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".views.Lib1Activity">
        </activity>

    </application>
</manifest>
